<html ng-app>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
        <script src="front.js"></script>
        <link rel="stylesheet" type="text/css" href="front.css"></link>
        <title>MI-DDW solcdavi</title>
    </head>
    <body ng-controller="FBCtrl">
        <h1>MI-DDW</h1>
        <h2>01. homework - Sentiment analysis</h2>
        <h3>solcdavi (102)</h3>
        <h4>Facebook</h4>
        <div class="col-xs-8 col-xs-offset-2">
            <form ng-submit="submit()">
                <input type="text" class="form-control" ng-model="postId"></input>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <div ng-repeat="mess in response.data">
                <div class="well">
                    <span class="label label-primary">{{mess.sentiment.score}}</span>
                    <span ng-repeat="poss in mess.sentiment.positive" class="label label-success">{{poss}}</span>
                    <span ng-repeat="neg in mess.sentiment.negative" class="label label-danger">{{neg}}</span>
                    <div>{{mess.message}}</div>
                </div>
            </div>
        </div>
    </body>
</html>
