<html ng-app>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
        <script src="front.js"></script>
        <link rel="stylesheet" type="text/css" href="front.css"></link>
        <title>MI-DDW solcdavi</title>
    </head>
    <body ng-controller="DDWCtrl">
        <h1>MI-DDW</h1>
        <h2>01. homework - Sentiment analysis</h2>
        <h3>solcdavi (102)</h3>
        <hr>
        <a href="facebook" class="btn btn-primary">Facebook comments</a>
        <hr>
        <div class="col-xs-8 col-xs-offset-2">
            <form ng-submit="submit()">
                <textarea class="form-control" rows="3" ng-model="message"></textarea>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <dl class="dl-horizontal">
                <dt>Score</dt>
                <dd>{{response.score}}</dd>
                <dt>Comparative</dt>
                <dd>{{response.comparative}}</dd>
                <dt>Tokens</dt>
                <dd>{{response.tokens}}</dd>
                <dt>Words</dt>
                <dd>{{response.words}}</dd>
                <dt>Positive</dt>
                <dd>{{response.positive}}</dd>
                <dt>Negative</dt>
                <dd>{{response.negative}}</dd>
            </dl>
        </div>
    </body>
</html>
